<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myweb.phone.dao.PhoneMapper">
    <resultMap id="phoneMap" type="com.myweb.phone.model.PhoneInfo">
        <id column="phone_id" property="phoneId" jdbcType="INTEGER"/>
        <result column="IMEI" property="IMEI" jdbcType="VARCHAR"/>
        <result column="brand_name" property="brandName" jdbcType="VARCHAR"/>
        <result column="model_name" property="modelName" jdbcType="VARCHAR"/>
        <result column="color_name" property="colorName" jdbcType="VARCHAR"/>
        <result column="memory_name" property="memoryName" jdbcType="VARCHAR"/>
        <result column="brand_id" property="brandId" jdbcType="INTEGER"/>
        <result column="model_id" property="modelId" jdbcType="INTEGER"/>
        <result column="color_id" property="colorId" jdbcType="INTEGER"/>
        <result column="memory_id" property="memoryId" jdbcType="INTEGER"/>
        <result column="degree" property="degree" jdbcType="VARCHAR"/>
        <result column="protection" property="protection" jdbcType="VARCHAR"/>
        <result column="damaged_part" property="damagedPart" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="VARCHAR"/>
        <result column="recovery_price" property="recoveryPrice" jdbcType="DECIMAL"/>
        <result column="reference_selling_price" property="referenceSellingPrice" jdbcType="DECIMAL"/>
        <result column="selling_id" property="sellingId" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="listPhone" resultMap="phoneMap" parameterType="com.myweb.phone.model.PhoneArgs">
        SELECT
        p.*,pb.brand_name,pm.model_name,pc.color_name,pme.memory_name
        FROM
        phone_info AS p
        LEFT JOIN phone_brand AS pb ON p.brand_id=pb.brand_id
        LEFT JOIN phone_model AS pm on p.model_id=pm.model_id
        LEFT JOIN phone_color AS pc ON p.color_id=pc.color_id
        LEFT JOIN phone_memory AS pme ON p.memory_id=pme.memory_id
        <where>
            <if test="searchKey == 'brand_name'">pb.brand_name like '%${searchValue}%'</if>
            <if test="searchKey == 'model_name'">pm.model_name like '%${searchValue}%'</if>
            <if test="searchKey == 'color_name'">pc.color_name like '%${searchValue}%'</if>
            <if test="searchKey == 'memory_name'">pme.memory_name like '%${searchValue}%'</if>
            <if test="searchKey == 'IMEI'">p.IMEI like '%${searchValue}%'</if>
        </where>
    </select>

    <insert id="addPhone" parameterType="com.myweb.phone.model.PhoneInfo">
        INSERT INTO
        phone_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="IMEI != null and IMEI != ''">
                IMEI,
            </if>
            <if test="brandId != null">
                brand_id,
            </if>
            <if test="modelId != null">
                model_id,
            </if>
            <if test="colorId != null">
                color_id,
            </if>
            <if test="memoryId != null">
                memory_id,
            </if>
            <if test="degree != null and degree != ''">
                degree,
            </if>
            <if test="protection != null and protection !=''">
                protection,
            </if>
            <if test="damagedPart != null and damagedPart != ''">
                damaged_part,
            </if>
            <if test="state != null and state != ''">
                state,
            </if>
            <if test="recoveryPrice != null and recoveryPrice != ''">
                recovery_price,
            </if>
            <if test="referenceSellingPrice != null">
                reference_selling_price,
            </if>
            <if test="sellingId != null and sellingId != ''">
                selling_id,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="IMEI != null and IMEI != ''">
                #{IMEI,jdbcType=VARCHAR},
            </if>
            <if test="brandId != null">
                #{brandId,jdbcType=INTEGER},
            </if>
            <if test="modelId != null">
                #{modelId,jdbcType=INTEGER},
            </if>
            <if test="colorId != null">
                #{colorId,jdbcType=INTEGER},
            </if>
            <if test="memoryId">
                #{memoryId,jdbcType=INTEGER},
            </if>
            <if test="degree != null and degree != ''">
                #{degree,jdbcType=VARCHAR},
            </if>
            <if test="protection != null and protection !=''">
                #{protection,jdbcType=VARCHAR},
            </if>
            <if test="damagedPart != null and damagedPart != ''">
                #{damagedPart,jdbcType=VARCHAR},
            </if>
            <if test="state != null and state != ''">
                #{state,jdbcType=VARCHAR},
            </if>
            <if test="recoveryPrice != null and recoveryPrice != ''">
                #{recoveryPrice,jdbcType=DECIMAL},
            </if>
            <if test="referenceSellingPrice != null">
                #{referenceSellingPrice,jdbcType=DECIMAL},
            </if>
            <if test="sellingId != null and sellingId != ''">
                #{sellingId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="editPhone" parameterType="com.myweb.phone.model.PhoneInfo">
        UPDATE
        phone_info
        <set>
            <trim suffixOverrides=",">
                <if test="IMEI != null and IMEI != ''">
                    IMEI=#{IMEI,jdbcType=VARCHAR},
                </if>
                <if test="brandId != null">
                    brand_id=#{brandId,jdbcType=INTEGER},
                </if>
                <if test="modelId != null">
                    model_id=#{modelId,jdbcType=INTEGER},
                </if>
                <if test="colorId != null">
                    color_id=#{colorId,jdbcType=INTEGER},
                </if>
                <if test="memoryId != null">
                    memory_id=#{memoryId,jdbcType=INTEGER},
                </if>
                <if test="degree != null and degree != ''">
                    degree=#{degree,jdbcType=VARCHAR},
                </if>
                <if test="protection != null and protection !=''">
                    protection=#{protection,jdbcType=VARCHAR},
                </if>
                <if test="damagedPart != null and damagedPart != ''">
                    damaged_part=#{damagedPart,jdbcType=VARCHAR},
                </if>
                <if test="state != null and state != ''">
                    state=#{state,jdbcType=VARCHAR},
                </if>
                <if test="recoveryPrice != null and recoveryPrice != ''">
                    recovery_price=#{recoveryPrice,jdbcType=DECIMAL},
                </if>
                <if test="referenceSellingPrice != null">
                    reference_selling_price=#{referenceSellingPrice,jdbcType=DECIMAL},
                </if>
                <if test="sellingId != null and sellingId != ''">
                    selling_id=#{sellingId,jdbcType=VARCHAR},
                </if>
            </trim>
        </set>
        <where>
            phone_id = #{phoneId}
        </where>
    </update>

    <select id="getBrands" resultType="com.myweb.phone.model.PhoneBrand">
        SELECT
          brand_id AS brandId,
          brand_name AS brandName
        FROM
          phone_brand
    </select>

    <insert id="addBrand" useGeneratedKeys="true" keyProperty="brandId" keyColumn="brand_id">
        INSERT INTO
          phone_brand
        (
          brand_name
        )
        VALUES
        (
          #{brandName}
        )
    </insert>


    <select id="getModels" resultType="com.myweb.phone.model.PhoneModel">
        SELECT
          model_id AS modelId,
          model_name AS modelName,
          brand_id AS brandId
        FROM
          phone_model
        WHERE
          brand_id = #{brandId}
    </select>

    <insert id="addModel" useGeneratedKeys="true" keyProperty="modelId" keyColumn="model_id">
        INSERT INTO
          phone_model
        (
          model_name,
          brand_id
        )
        VALUES
        (
          #{modelName},
          #{brandId}
        )
    </insert>

    <select id="getColors" resultType="com.myweb.phone.model.PhoneColor">
        SELECT
          color_id AS colorId,
          color_name AS colorName,
          model_id AS modelId
        FROM
          phone_color
        WHERE
          model_id = #{modelId}
    </select>

    <insert id="addColor" useGeneratedKeys="true" keyProperty="colorId" keyColumn="color_id">
        INSERT INTO
          phone_color
        (
          color_name,
          model_id
        )
        VALUES
        (
          #{colorName},
          #{modelId}
        )
    </insert>


    <select id="getMemorys" resultType="com.myweb.phone.model.PhoneMemory">
        SELECT
          memory_id AS memoryId,
          memory_name AS memoryName,
          model_id AS modelId
        FROM
          phone_memory
        WHERE
          model_id = #{modelId}
    </select>

    <insert id="addMemory" useGeneratedKeys="true" keyProperty="memoryId" keyColumn="memory_id">
        INSERT INTO
          phone_memory
        (
          memory_name,
          model_id
        )
        VALUES
        (
          #{memoryName},
          #{modelId}
        )
    </insert>

    <select id="findPhoneById" resultMap="phoneMap">
        select
          p.*,
          pb.brand_name,
          pmo.model_name,
          pme.memory_name,
          pc.color_name
        from
          phone_info as p
        left join phone_brand as pb on pb.brand_id = p.brand_id
        left join phone_model as pmo on pmo.model_id = p.model_id
        left join phone_color as pc on pc.color_id = p.color_id
        left join phone_memory as pme on pme.memory_id = p.memory_id
        where
          phone_id = #{phoneId}
    </select>

    <select id="findPhoneByImei" resultMap="phoneMap">
        select
          p.*,
          pb.brand_name,
          pmo.model_name,
          pme.memory_name,
          pc.color_name
        from
          phone_info as p
        left join phone_brand as pb on pb.brand_id = p.brand_id
        left join phone_model as pmo on pmo.model_id = p.model_id
        left join phone_color as pc on pc.color_id = p.color_id
        left join phone_memory as pme on pme.memory_id = p.memory_id
        where
          imei = #{imei}
        ORDER BY
          p.phone_id DESC
        limit 1
    </select>


    <select id="getCostByImei" resultType="java.math.BigDecimal">
        select
          p.recovery_price + IFNULL(r.amount_complained,0)
        from
          phone_info as p
        left join repair as r on p.imei = r.imei
        where
          p.imei = #{imei}
    </select>



</mapper>