<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myweb.stock.dao.StockMapper">
    <resultMap id="stockMap" type="com.myweb.stock.model.StockInfo">
        <id column="stock_id" property="stockId" jdbcType="INTEGER"/>
        <result column="brand_id" property="brandId" jdbcType="INTEGER"/>
        <result column="color_id" property="colorId" jdbcType="INTEGER"/>
        <result column="model_id" property="modelId" jdbcType="INTEGER"/>
        <result column="memory_id" property="memoryId" jdbcType="INTEGER"/>
        <result column="number" property="number" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="stockDtoMap" type="com.myweb.stock.model.StockDto">
        <result column="brand_name" property="brandName" jdbcType="VARCHAR"/>
        <result column="model_name" property="modelName" jdbcType="VARCHAR"/>
        <result column="color_name" property="colorName" jdbcType="VARCHAR"/>
        <result column="memory_name" property="memoryName" jdbcType="VARCHAR"/>
        <result column="number" property="number" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="frontPictureDtoMap" type="com.myweb.picture.model.FrontPictureDto">
        <result column="brand_name" property="brandName" jdbcType="VARCHAR"/>
        <result column="model_name" property="modelName" jdbcType="VARCHAR"/>
        <result column="img" property="img" jdbcType="VARCHAR"/>
        <result column="model_id" property="modelId" jdbcType="INTEGER"/>
    </resultMap>


    <select id="findStock" parameterType="com.myweb.stock.model.StockArgs" resultMap="stockMap">
        SELECT
          s.*
        FROM
          stock_info AS s
        <where>
            1=1
            <if test="brandId != null">and s.brand_id = #{brandId}</if>
            <if test="colorId != null">and s.color_id = #{colorId}</if>
            <if test="memoryId != null">and s.memory_id = #{memoryId}</if>
            <if test="modelId != null">and s.model_id = #{modelId}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.myweb.stock.model.StockInfo">
        INSERT INTO
          stock_info
        (
          brand_id,
          color_id,
          model_id,
          memory_id
        )
        VALUES
        (
          #{brandId},
          #{colorId},
          #{modelId},
          #{memoryId}
        )
    </insert>

    <update id="addNumber">
        UPDATE
          stock_info
        SET
          `number` = `number` + 1
        WHERE
          stock_id = #{stockId}
    </update>

    <update id="descNumber">
         UPDATE
          stock_info
        SET
          `number` = `number` - 1
        WHERE
          stock_id = #{stockId}
    </update>

    <select id="listStockDto" resultMap="stockDtoMap" parameterType="com.myweb.stock.model.StockArgs">
        SELECT
          pb.brand_name,
          pc.color_name,
          pme.memory_name,
          pmo.model_name,
          s.number
        FROM
          stock_info AS s
        LEFT JOIN phone_brand AS pb ON s.brand_id = pb.brand_id
        LEFT JOIN phone_color AS pc ON s.color_id = pc.color_id
        LEFT JOIN phone_memory AS pme ON s.memory_id = pme.memory_id
        LEFT JOIN phone_model AS pmo ON s.model_id = pmo.model_id
        <where>
            <trim prefixOverrides="and">
                <if test="brandName != null and brandName != ''">and pb.brand_name like '%${brandName}%'</if>
                <if test="colorName != null and colorName != ''">and pc.color_name like '%${colorName}%'</if>
                <if test="memoryName != null and memoryName != ''">and pme.memory_name like '%${memoryName}%'</if>
                <if test="modelName != null and modelName != ''">and pmo.model_name like '%${modelName}%'</if>
            </trim>
        </where>
        ORDER BY s.number DESC
    </select>

    <select id="listFrontPictureDto" resultMap="frontPictureDtoMap" parameterType="com.myweb.picture.model.FrontPictureArgs">
        SELECT
          pb.brand_name,
          pmo.model_name,
          pmo.img,
          pmo.model_id
        FROM
          phone_brand AS pb,phone_model AS pmo
        WHERE
          pb.brand_id = pmo.brand_id
          <trim suffixOverrides="and">
              <if test="brandName != null and brandName != ''">and pb.brand_name like '%${brandName}%'</if>
              <if test="modelName != null and modelName != ''">and pmo.model_name like '%${modelName}%'</if>
              <if test="hasImg != null and hasImg == 1">and pmo.img != '' and pmo.img is not null </if>
              <if test="hasImg != null and hasImg == 0">and (pmo.img is null or pmo.img = '')</if>
          </trim>
    </select>

    <insert id="addFrontPicture" parameterType="com.myweb.phone.model.PhoneModel">
        UPDATE
          phone_model
        SET
          img = #{img}
        WHERE
          model_id = #{modelId}
    </insert>



</mapper>