<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myweb.sell.dao.SellSlipMapper">

    <resultMap id="sellSlipMap" type="com.myweb.sell.model.SellSlip">
        <result column="serial_number" property="serialNumber" jdbcType="VARCHAR"/>
        <result column="operator_id" property="operatorId" jdbcType="INTEGER"/>
        <result column="sale_date" property="saleDate" jdbcType="TIMESTAMP"/>
        <result column="sale_number" property="saleNumber" jdbcType="INTEGER"/>
        <result column="total_price" property="totalPrice" jdbcType="DECIMAL"/>
    </resultMap>


    <insert id="save">
        INSERT INTO
          sell_slip
        (
          serial_number,
          operator_id,
          sale_date,
          sale_number,
          total_price
        )
        VALUES
        (
          #{serialNumber},
          #{operatorId},
          #{saleDate},
          #{saleNumber},
          #{totalPrice}
        )
    </insert>

    <select id="countBySerialNumber" resultType="java.lang.Integer">
        select
          count(1)
        from
          sell_slip
        where
          serial_number = #{serialNumber}
    </select>

</mapper>